/******************************************************************

Site Name: ExpressJS, Socket.IO & AngularJS Boilerplate
Code: Jozef Butko - jozefbutko.com
Date: Jan 2017

******************************************************************/

// normalize: http://necolas.github.io/normalize.css/
@import "partials/normalize";

// Sass variables
@import "partials/variables";

// Helpers
@import "partials/helpers";

// typography
@import "partials/typography";

// import mixins
@import "partials/mixins";

// the grid
@import "partials/grid";

/*********************
IMPORTING MODULES
*********************/

// forms (inputs & labels)
@import "modules/forms";

/*********************
BASE (MOBILE) SIZE
*********************/

// styles in base.scss
@import "breakpoints/base";

/*********************
LARGER MOBILE DEVICES
*********************/
@media only screen and (min-width: 481px) {

	// styles in 481up.scss
	@import "breakpoints/481up";

} // end of media query

/*********************
TABLET & SMALLER LAPTOPS
*********************/
@media only screen and (min-width: 768px) {

	// styles in 768up.scss
	@import "breakpoints/768up";

} // end of media query

/*********************
DESKTOP
*********************/
@media only screen and (min-width: 1030px) {

	// styles in 1030up.scss
	@import "breakpoints/1030up";

} // end of media query

/*********************
LARGE VIEWING SIZE
*********************/
@media only screen and (min-width: 1240px) {

	// styles in 1240up.scss
	@import "breakpoints/1240up";

} // end of media query


/*********************
PRINT STYLESHEET
*********************/
@media print {

	// styles in print.scss
	@import "partials/print";

}


/*********************
main nav
*********************/
@import "../src/app/main-nav/main-nav.scss";


/*********************
home
*********************/
@import "../src/app/home/home.scss";


/*********************
auth
*********************/
@import "../src/app/auth/auth.scss";


/*********************
user
*********************/
@import "../src/app/user/user.scss";


/*********************
user-list
*********************/
@import "../src/app/user-list/user-list.scss";


/*********************
change-password
*********************/
@import "../src/app/change-password/change-password.scss";


