/******************************************************************

Typography

******************************************************************/

/* ===============================
     font-families
   =============================== */

$font: "Open Sans", Helvetica, Arial, sans-serif;

/* ===============================
     H1, H2, H3, H4, H5 STYLES
   =============================== */

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	font-weight: bold;
	display: block;
	font-family: $font;

	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 2.5em;
	line-height: 1.333em;
}

h2, .h2 {
	font-size: 1.75em;
	line-height: 1.4em;
	margin-bottom: 0.375em;
}

h3, .h3 {
	font-size: 1.5rem;
	margin: 0;
}

h4, .h4 {
	font-size: 1rem;
	font-weight: 700;
	margin: 0;
}

h5, .h5 {
	font-size: 0.875rem;
	font-weight: 700;
}

/* ===============================
     sizes
   =============================== */

$large: 28px;
$medium: 20px;
$small: 14px;

/* ===============================
     weights
   =============================== */

$thin: 300;
$normal: 400;
$semi-bold: 600;
$bold: 700;
$extra-bold: 900;
