<div class="container-fluid change-password form">

	<!-- change password form -->
	<div>

		<form
			ng-submit="vm.changePassword(vm.password, vm.confirmPassword)"
			name="vm.changePasswordForm"
			role="form"
			id="user"
			novalidate
		>

			<div class="row">
				<label for="password" class="col-md-5">New password</label>
				<div class="col-md-5">
					<input
						type="password"
						ng-model="vm.password"
						name="password"
						id="user-id"
						autocomplete="off"
						placeholder="New password"
						required
					>
				</div>
			</div>

			<div class="row">
				<label for="confirmPassword" class="col-md-5">Confirm password</label>
				<div class="col-md-5">
					<input
						type="password"
						ng-model="vm.confirmPassword"
						name="confirmPassword"
						id="confirmPassword"
						autocomplete="off"
						placeholder="Confirm password"
						required
					>
				</div>
			</div>

			<div class="row">
				<div class="col-md-5 col-md-offset-5">
					<button
						type="submit"
						ng-disabled="vm.changePasswordForm.$invalid"
					>
						Save
					</button>
				</div>
			</div>
		</form>
	</div>
</div>
